body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}
.header {
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ebebeb;
}
.nav {
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ebebeb;
}  
.article {
    color: #ebebeb;
    background: #777;
    height: 150px;
    width: 544px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
h1 {
    color: #777;
    background: #ebebeb;
}
p{
    color: #777;
    background: #ebebeb;
    width: 495px;
    height: 21px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin: 10px, 20px, 10px, 20px;
}
.section {
    float: left;
    background: #ebebeb;
    margin: 0 1.5%;
    margin-left: 0px;
    margin-bottom: 20px;
    height: 250px;
    width: 65%
}   
.aside {
    float: right;
    margin: 0 1.5%;
    background: #ebebeb;
    margin-right: 0px;
    margin-bottom: 20px;
    height: 250px;
    width: 32%;
}
.footer {
    clear: both;
    padding: 25px;
    background: #ebebeb;
}
#heading {
    padding-top: 5px;
    width: 495px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin: 10px, 20px, 10px, 20px;
    height: 21px;
}